[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"

[packages]
django = "==3.0"
twilio = "~=6.0.0"
django-crispy-forms = "==1.8.1"
django-qr-code = "*"
pillow = "*"
gunicorn = "==19.9.0"
whitenoise = "==4.1.4"
celery = "*"
qrcode = {extras = ["pil"], version = "*"}
autopep8 = "*"
python-decouple = "*"
psycopg2-binary = "*"
pydotplus = "*"
werkzeug = "*"

[requires]
python_version = "3.8"
