<!DOCTYPE html>
<html lang="en">

<head>
  {%load static%}
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>{% block title %}{% endblock title %}</title>
  
  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  
  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
</head>

<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>Dashboard</title>
  
  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  
  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  
</head>

<body id="page-top">
  
  <!-- Page Wrapper -->
  <div id="wrapper">
    
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">
      
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center mt-5 mb-3 " href="{%url 'home'%}">
        <div class="sidebar-brand-icon">
          <i><img class="img-thumbnail" src="https://seeklogo.com/images/M/ministry-of-health-kuwait-logo-4F6BD8E365-seeklogo.com.png"></i>
        </div><br/>
        <div class="sidebar-brand-text mx-3">MoH Covid</div>
      </a>
      
      <!-- Nav Item - Dashboard -->
      <li class="nav-item {% block HomeActiveNavItem %}{% endblock HomeActiveNavItem %}">
        <a class="nav-link" href="{%url 'home'%}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
        </li>
              
      {% if user.is_authenticated %}
        
         <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item {% block PatientsActiveNavItem %}{% endblock PatientsActiveNavItem %}">
          <a class="nav-link collapsed" href="{%url 'patients_list'%}" aria-expanded="true" >
            <i class="fas fa-fw fa-hospital-user"></i>
            <span>Patients</span>
          </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider"> 
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item {% block TestsActiveNavItem %}{% endblock TestsActiveNavItem %}">
          <a class="nav-link collapsed" href="{%url 'tests_list'%}">
            <i class="fas fa-fw fa-vial"></i>
            <span>Lab Tests</span>
          </a>
        </li>
        <hr class="sidebar-divider">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item {% block ScreeningCentersActiveNavItem %}{% endblock ScreeningCentersActiveNavItem %}">
          <a class="nav-link collapsed" href="{%url 'screeningcenters_list'%}" >
            <i class="fas fa-fw fa-star-and-crescent"></i>
            <span>Screening Centers</span>
          </a>
        </li>
        <hr class="sidebar-divider">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item {% block TestingCentersActiveNavItem %}{% endblock TestingCentersActiveNavItem %}">
          <a class="nav-link collapsed" href="{%url 'testingcenters_list'%}" >
            <i class="fas fa-fw fa-hospital-alt"></i>
            <span>Labs</span>
          </a>
        </li>

         <hr class="sidebar-divider">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#smsnotification" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-lg fa-mobile-alt"></i>
            <span>SMS Notifications</span>
          </a>
          <div id="smsnotification" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <!-- <h6 class="collapse-header">Lab Tests:</h6> -->
              <a class="collapse-item" href="#">New SMS Notification</a>
              <a class="collapse-item" href="#">SMS Notifications List</a>
            </div>
          </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      {% endif %}
      </ul>
      <!-- End of Sidebar -->
      
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        
        <!-- Main Content -->
        <div id="content">
          
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>
            
            <!-- Topbar Search -->
            <form action={% block FormSearchAction %}'#'{% endblock FormSearchAction %} style="width: 30rem;" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-10 navbar-search">
              <div class="input-group">
                <input name='q' type="text" class="form-control bg-light border-0 small" placeholder="{% block FormSearchPlaceHolder %}Search for...{% endblock FormSearchPlaceHolder %}" aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </form>
            
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              
              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                   <form action={% block FormSearchActionInline %}'#'{% endblock FormSearchActionInline %} class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input name='q' type="text" class="form-control bg-light border-0 small" placeholder="{% block FormSearchPlaceHolderInline %}Search for...{% endblock FormSearchPlaceHolderInline %}" aria-label="Search" aria-describedby="basic-addon2">

                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>
              
              <div class="topbar-divider d-none d-sm-block"></div>
              
              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">Username: {{ user.username }}<br/>Role: {{user.role}}</span>
                  <img class="img-profile rounded-circle" src="https://www.pngitem.com/pimgs/m/294-2947257_interface-icons-user-avatar-profile-user-avatar-png.png">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  {% if user.is_authenticated %}
                  
                  {% if user.is_authenticated %}
                  {% if user.role == 'Admin' %} 
                  
                  <a class="dropdown-item" href="{% url 'signup' %}">
                    <i class="fas fa-user-plus fa-sm fa-fw mr-2 text-gray-400"></i>
                    Create an Account</a>
                    {% endif %}
                    {% endif %}
                    
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                      Logout
                    </a>  
                    
                    {%else%}
                    
                    <a class="dropdown-item" href="{%url 'login'%}">
                      <i class="fas fa-sign-in-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                      Login
                    </a>
                    
                    {% endif %}
                  </div>
                </li>
                
              </ul>
              
            </nav>
            <!-- End of Topbar -->
            
            <!-- Begin Page Content -->
            <div class="container-fluid">
              {% if user.is_authenticated %}
                {% block content %}
                {% endblock content %}
              {% endif %}
              
              {% block login %}
              {% endblock login %}
            </div>
            <!-- /.container-fluid -->
            
          </div>
          <!-- End of Main Content -->
          
          <!-- Footer -->
          <footer class="sticky-footer bg-white">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>Copyright &copy; MoH 2020</span>
              </div>
            </div>
          </footer>
          <!-- End of Footer -->
          
        </div>
        <!-- End of Content Wrapper -->
        
      </div>
      <!-- End of Page Wrapper -->
      
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>
      
      <!-- Logout Modal-->
      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Bootstrap core JavaScript-->
      <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
      
      <!-- Core plugin JavaScript-->
      <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>
      
      <!-- Custom scripts for all pages-->
      <script src="{% static 'js/sb-admin-2.min.js'%}"></script>
      
      <!-- Page level plugins -->
      <script src="{% static 'vendor/chart.js/Chart.min.js'%}"></script>
      
      <!-- Page level custom scripts -->
      <script src="{% static 'js/demo/chart-area-demo.js'%}"></script>
      <script src="{% static 'js/demo/chart-pie-demo.js'%}"></script>

      <script src="{% static 'js/jquery-qrcode-0.18.0.min.js'%}"></script>

      <script src="{% static 'js/custom.js'%}"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

      <!-- Page level plugins -->
      <script src="{% static 'vendor/datatables/jquery.dataTables.min.js'%}"></script>
      <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>

      <!-- Page level custom scripts -->
      <script> 
        // Call the dataTables jQuery plugin
      $(document).ready(function() {
        $("#id_result_datetime").datepicker({
          format:'yyyy-mm-dd',
        });
      });

        $('#dataTable').DataTable({
          'dom': 'Bfrtip',
          'paging': false,
          'searching': false, 
          'info': false //hide search box and Entries number
        });
      </script>  
      {% block js %}
      {% endblock js %}
    </body>
    </html>    