
<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_003{font-family:"Calibri Bold",serif;font-size:11.5px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:"Calibri Bold",serif;font-size:11.5px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:12.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:12.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:"Calibri Bold",serif;font-size:13.2px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:"Calibri Bold",serif;font-size:13.2px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_002{font-family:Arial,serif;font-size:14.4px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:14.4px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_011{font-family:Arial,serif;font-size:14.4px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: underline}
div.cls_011{font-family:Arial,serif;font-size:14.4px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_012{font-family:"Calibri Bold",serif;font-size:13.2px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: underline}
div.cls_012{font-family:"Calibri Bold",serif;font-size:13.2px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:13.4px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:13.4px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:"Calibri",serif;font-size:11.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:"Calibri",serif;font-size:11.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:Arial,serif;font-size:9.9px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_009{font-family:Arial,serif;font-size:9.9px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_010{font-family:"Calibri",serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_010{font-family:"Calibri",serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="ca3f7b36-f06c-11ea-8b25-0cc47a792c0a_id_ca3f7b36-f06c-11ea-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="/media/cert_background1.jpg" width=612 height=792></div>
<div style="position:absolute;left:133.50px;top:32.60px" class="cls_003"><span class="cls_003">State of Kuwait</span></div>
<div style="position:absolute;left:420.05px;top:35.80px" class="cls_008"><span class="cls_008">دولة الكـــــويت</span></div>
<div style="position:absolute;left:120.65px;top:49.70px" class="cls_004"><span class="cls_004">Ministry of Health</span></div>
<div style="position:absolute;left:414.85px;top:51.75px" class="cls_002"><span class="cls_002">وزارة الصحـــة</span></div>
<div style="position:absolute;left:191.10px;top:106.00px" class="cls_011"><span class="cls_011">تقرير طبي: شهادة خلو من فيروس سارس-كوف-2</span></div>
<div style="position:absolute;left:190.25px;top:134.95px" class="cls_012"><span class="cls_012">Medical Report: SARS-CoV-2 Free Certificate</span></div>
<div style="position:absolute;left:232.40px;top:163.55px" class="cls_006"><span class="cls_006">تفيد وزارة الصحة بأن السم الوارد أدناه قد أتم فحص سارس-كوف-2 ونتيجة الفحص سلبية.</span></div>
<div style="position:absolute;left:151.85px;top:191.45px" class="cls_006"><span class="cls_006">Kuwaiti</span></div>
<div style="position:absolute;left:435.00px;top:192.50px" class="cls_006"><span class="cls_006">جابر عبدالله</span></div>
<div style="position:absolute;left:233.18px;top:190.90px" class="cls_005"><span class="cls_005">:الجنسية</span></div>
<div style="position:absolute;left:522.95px;top:192.15px" class="cls_005"><span class="cls_005">:الاسم</span></div>
<div style="position:absolute;left:137.55px;top:215.95px" class="cls_006"><span class="cls_006">28/07/2020</span></div>
<div style="position:absolute;left:196.53px;top:214.90px" class="cls_005"><span class="cls_005">تاريخ أخذ العينة:</span></div>
<div style="position:absolute;left:498.23px;top:214.40px" class="cls_005"><span class="cls_005">:رقم الجواز</span></div>
<div style="position:absolute;left:137.55px;top:237.20px" class="cls_006"><span class="cls_006">28/07/2020</span></div>
<div style="position:absolute;left:211.08px;top:236.15px" class="cls_005"><span class="cls_005">:تاريخ النتيجة</span></div>
<div style="position:absolute;left:418.50px;top:239.45px" class="cls_006"><span class="cls_006">186301904541</span></div>
<div style="position:absolute;left:493.48px;top:238.40px" class="cls_005"><span class="cls_005">:الرقم المدني</span></div>
<div style="position:absolute;left:192.65px;top:265.05px" class="cls_006"><span class="cls_006">.لقد تم منح هذه الشهادة بناء على رغبة الشخص إلى من يهمه المر دون أي مسؤولية من الجهة المانحة</span></div>
<div style="position:absolute;left:61.90px;top:289.85px" class="cls_007"><span class="cls_007">The Kuwait Ministry of Health certifies that the below named individual has been tested for</span></div>
<div style="position:absolute;left:61.90px;top:307.10px" class="cls_007"><span class="cls_007">SARS COV-2 and they tested NEGATIVE.</span></div>
<div style="position:absolute;left:65.40px;top:333.60px" class="cls_007"><span class="cls_007">Name:</span></div>
<div style="position:absolute;left:135.34px;top:333.14px" class="cls_007"><span class="cls_007">ABDULLAH  OHAMMAD</span></div>
<div style="position:absolute;left:335.90px;top:333.35px" class="cls_007"><span class="cls_007">Nationality:</span></div>
<div style="position:absolute;left:418.90px;top:333.45px" class="cls_007"><span class="cls_007">Kuwaiti</span></div>
<div style="position:absolute;left:65.40px;top:356.85px" class="cls_007"><span class="cls_007">Passport No:</span></div>
<div style="position:absolute;left:335.90px;top:356.60px" class="cls_007"><span class="cls_007">Sampling Date:</span></div>
<div style="position:absolute;left:417.40px;top:356.70px" class="cls_007"><span class="cls_007">28/07/2020</span></div>
<div style="position:absolute;left:65.40px;top:380.10px" class="cls_007"><span class="cls_007">Civil ID:</span></div>
<div style="position:absolute;left:131.15px;top:379.95px" class="cls_007"><span class="cls_007">482101941541</span></div>
<div style="position:absolute;left:335.90px;top:379.85px" class="cls_007"><span class="cls_007">Result Date:</span></div>
<div style="position:absolute;left:417.40px;top:379.95px" class="cls_007"><span class="cls_007">28/07/2020</span></div>
<div style="position:absolute;left:61.65px;top:406.60px" class="cls_007"><span class="cls_007">This certificate has been granted to the person upon their personal request to whom it may</span></div>
<div style="position:absolute;left:61.65px;top:423.85px" class="cls_007"><span class="cls_007">concern, and the MOH is not responsible for any consequences resulting from this</span></div>
<div style="position:absolute;left:60.90px;top:456.10px" class="cls_007"><span class="cls_007">Health Professional:</span></div>
<div style="position:absolute;left:170.40px;top:455.45px" class="cls_007"><span class="cls_007">HOURA MOHAMMAD ALI BEHBA</span></div>
<div style="position:absolute;left:400.05px;top:455.55px" class="cls_006"><span class="cls_006">حوراء م علي بهبهاني</span></div>
<div style="position:absolute;left:489.52px;top:457.80px" class="cls_006"><span class="cls_006">:الممارس الصحي</span></div>
<div style="position:absolute;left:434.74px;top:482.30px" class="cls_006"><span class="cls_006">:اسم المركز \ المستشفى \ الموقع</span></div>
<div style="position:absolute;left:60.15px;top:483.60px" class="cls_007"><span class="cls_007">Name of Clinic/Hospital/Location:</span></div>
<div style="position:absolute;left:85.90px;top:503.95px" class="cls_007"><span class="cls_007">Mobile Screening - M_UNIT_8</span></div>
<div style="position:absolute;left:380.20px;top:502.70px" class="cls_006"><span class="cls_006">Mobile Screening - M_UNIT_8</span></div>
<div style="position:absolute;left:436.65px;top:528.45px" class="cls_006"><span class="cls_006">29/07/2020</span></div>
<div style="position:absolute;left:497.50px;top:528.55px" class="cls_006"><span class="cls_006">:تاريخ الصدار</span></div>
<div style="position:absolute;left:60.15px;top:529.85px" class="cls_007"><span class="cls_007">Issue Date:</span></div>
<div style="position:absolute;left:122.90px;top:529.70px" class="cls_007"><span class="cls_007">29/07/2020</span></div>
<div style="position:absolute;left:97.24px;top:677.00px" class="cls_009"><span class="cls_009">تم إنشاء هذا التقرير إلكترونيا من خلل نظام وزارة الصحة حيث أن اسم الطبيب على النموذج معتمد من قبل وزارة الصحة ول يحتاج الي ختم أو توقيع</span></div>
<div style="position:absolute;left:545.90px;top:690.35px" class="cls_009"><span class="cls_009">.يدوي</span></div>
<div style="position:absolute;left:280.35px;top:703.70px" class="cls_009"><span class="cls_009">.أي عملية تلعب / تعديل / تزوير في النموذج يحاسب عليه حسب القوانين في دولة الكويت</span></div>
<div style="position:absolute;left:63.15px;top:723.85px" class="cls_010"><span class="cls_010">This report was created electronically through the Ministry of Health's system, and the name of the doctor on the</span></div>
<div style="position:absolute;left:63.15px;top:737.35px" class="cls_010"><span class="cls_010">form is approved by the Ministry of Health and does not require a stamp or signature.</span></div>
<div style="position:absolute;left:63.15px;top:750.85px" class="cls_010"><span class="cls_010">Any unauthorized manipulation of the form will be subject to legal action as per the laws of the State of Kuwait.</span></div>
</div>

</body>
</html>
