{% extends 'base.html' %}

{% block title %}Patient List{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>


  <h1> Patients </h1>
  <h3>List of Patients</h3>
  {% for patient in patient_list %}
  <div class="patient-entry">
    <a href="{% url 'patient_detail' patient.pk %}">Patient Details {{patient.pk}}</a><br/>
    <b>Patient: {{patient.firstname}} {{patient.lastname}} ({{patient.civilSerial}})</b> </br>
    <b>Created by</b> {{patient.author.first_name}} {{patient.author.last_name}} ({{patient.author.username}}/{{patient.author.role}})</br>
  </div>
  <br/> 
  {% endfor %}
  
  
  <a href="{%url 'patient_new'%}">New Patient</a>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}



{% endblock content %}