{% extends 'base.html' %}

{% block FormSearchAction %} '/patients/' {% endblock FormSearchAction %}
{% block FormSearchPlaceHolder %} Search for Patients {% endblock FormSearchPlaceHolder %}

{% block title %}Patient Details{% endblock title %}

{% block content %}
 
 <!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Patient Details </h1>
    <div>
      <a class="btn btn-sm btn-primary" href="{% url 'patient_edit' patient.pk %}">Update Patient</a>
    {% if user.role == 'Admin' %}
      <a class="btn btn-sm btn-danger" href="{% url 'patient_delete' patient.pk %}">Delete Patient</a>
   {% endif %}
    </div>
</div>
<hr>
  <div class="col-md-5">

    <div class="row">
      <div class="col-md-6">
        <label><b> Civil ID </b></label>
      </div>
      <div class="col-md-6">
        <p>{{patient.civil_ID}}</p>
      </div>
    </div>
                      
    <div class="row">
      <div class="col-md-6">
        <label><b>First Name</b></label> 
        </div>
        <div class="col-md-6">
{% if user.role == 'Admin' or user.role == 'Field' %} 
          {{patient.first_name}}
{% else %}
          Private
{% endif %}
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><b>Last Name</b></label> 
        </div>
        <div class="col-md-6">
{% if user.role == 'Admin' or user.role == 'Field' %} 
          {{patient.last_name}}
{% else %}
          Private
{% endif %}
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><b>Birthday </b></label> 
        </div>
        <div class="col-md-6">
{% if user.role == 'Admin' or user.role == 'Field' %} 
        {{patient.birthday}}
{% else %}
          Private
{% endif %}
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><b>Phone Number </b></label> 
        </div>
        <div class="col-md-6">
{% if user.role == 'Admin' or user.role == 'Field' %} 
        {{patient.phone}}
{% else %}
          Private
{% endif %}
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><b>Area</b></label> 
        </div>
        <div class="col-md-6">
{% if user.role == 'Admin' or user.role == 'Field' %} 
         {{patient.area}}
{% else %}
          Private
{% endif %}
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><b>Region</b></label> 
        </div>
        <div class="col-md-6">
{% if user.role == 'Admin' or user.role == 'Field' %} 
         {{patient.area.health_region}}
{% else %}
          Private
{% endif %}
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><b>Gender </b></label> 
        </div>
        <div class="col-md-6">
{% if user.role == 'Admin' or user.role == 'Field' %} 
         {{patient.gender}}
{% else %}
          Private
{% endif %}        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><b>Civil Serial </b></label> 
        </div>
        <div class="col-md-6">
{% if user.role == 'Admin' or user.role == 'Field' %} 
         {{patient.civil_serial}}
{% else %}
          Private
{% endif %}
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><b>Created By</b></label> 
        </div>
        <div class="col-md-6">
          {{patient.author.first_name}} {{patient.author.last_name}} {{patient.author.username}}/{{patient.author.role}}
        </div>
    </div>
    </div>
 
 <hr>
    <h3 class="mt-4">List of Patient's Tests <a class="btn btn-sm btn-primary" href="{% url 'test_new' %}?id={{ patient.pk }}">New Test</a>
 </h3> 
      <!-- DataTales -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Patient's Tests</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Sample Date</th>
                  <th>Result Date</th>
                  <th>Mixed ?</th>
                  <th>Symptoms ?</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Sample Date</th>
                  <th>Result Date</th>
                  <th>Mixed ?</th>
                  <th>Symptoms ?</th>
                  <th>Actions</th>
                </tr>
              </tfoot>
              <tbody>     
        {% for test in patient.patient_tests.all %}
                <tr>
                  <td>{{ test.sample_datetime }}</td>
                  <td>{{ test.result_datetime }}</td>
                  <td>{{ test.mixed }}</td>
                  <td>{{ test.symptoms }}</td>
                  <td>
                    <a type="button" href="{% url 'test_detail' test.pk %}" class="btn btn-sm btn-primary"><i class="far fa-eye"></i></a>
                    <a type="button" href="{% url 'test_edit' test.pk %}" class="btn btn-sm btn-success"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'test_qrcode' test.pk %}" target="_blank" class="btn btn-sm btn-dark"><i class="fas fa-qrcode"></i></a>
                    {% if user.role == 'Admin' %}
                      <a type="button" href="{% url 'test_delete' test.pk %}" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                    {% endif %}
                  </td>
                </tr>
          {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

{% endblock content %}
