{%extends 'base.html'%}
{% load crispy_forms_tags %}

{% block FormSearchAction %} '/patients/' {% endblock FormSearchAction %}
{% block FormSearchPlaceHolder %} Search for Patients {% endblock FormSearchPlaceHolder %}

{% block title %}New Patient{% endblock title %}

{% block content %}

<div class="col-xl-12 col-lg-12 col-md-9">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <!-- Nested Row within Card Body -->
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4"></h1>
            <div class="mb-4">
                <h1>Create New Patient</h1>
          </div>
          </div>
          <hr>

      <form id='civilid_form'>
          <div class="form-group">
            <label>Civil ID</label>
            <input name="civilid" type='text'class="form-control"></input>
          </div>
            <button type="submit" onclick="check_civilID()" class="btn btn-primary btn-user btn-block">Next</button>
      </form>

            <form id="addpatient_form"action="" method='post' autocomplete="off"> {%csrf_token%}
                {{form | crispy}}      
                <button type="submit" class="btn btn-primary btn-user btn-block">Save</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% block js %}
<script>
 $(document).ready(function() {
    console.log('loaded');
       if ($(".invalid-feedback").length > 0 ){
          document.getElementById('civilid_form').style.display = "none";
          document.getElementById('addpatient_form').style.display = "block";
        }
        else{
          document.getElementById('civilid_form').style.display = "block";
          document.getElementById('addpatient_form').style.display = "none";
        } 
    });


function check_civilID(){
  	event.preventDefault();
    form = document.getElementById('civilid_form'); 
    $.get( "/check_civilID/?civil_id="+form.civilid.value, function( data ) {
        
        console.log(data);
        form.style.display = "none";
        
        add_form = document.getElementById('addpatient_form'); 
        add_form.style.display = "block";
        add_form.civil_ID.value =  data['civil_ID']
        add_form.civil_ID.readOnly = true;

        add_form.first_name.value =  data['first_name'];
        add_form.first_name.readOnly = true;

        add_form.last_name.value =  data['last_name'];
        add_form.last_name.readOnly = true;

        add_form.city.value =  data['city'];
        add_form.city.readOnly = true;

        add_form.nationality.value =  data['nationality'];
        add_form.nationality.readOnly = true;

        add_form.gender.value =  data['gender'];
        add_form.gender.readOnly = true;
  });
}
</script>
{% endblock js %}

{%endblock content%}