{%load static%}

      <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>

<center>
    <img style="width:200px;height:200px;" src="https://seeklogo.com/images/M/ministry-of-health-kuwait-logo-4F6BD8E365-seeklogo.com.png" alt="" srcset=""><br/>
    <img style="width:170px;height:170px;"src="data:image/png;base64, {{qrcode}}"> </img>
    <br/>
    <p style='font-size:x-large;'> <b>Sample Date:</b> {{sample_date}} </p>
    
    <button href="#" onclick=" window.print()"> Print </button>
    
    <br/>
    <br/>
    <a href={% url 'patient_new' %} >
    <button>Add Another Patient</button>
    </a>

</center>

<script>
    
    window.addEventListener("beforeprint", function(event) { $("button").hide();$("a").hide();  });
    window.addEventListener("afterprint", function(event) { $("button").show(); $("a").show();  });
    
</script>