{% extends 'base.html' %}

{% block FormSearchAction %} '/screeningcenters/' {% endblock FormSearchAction %}
{% block FormSearchPlaceHolder %} Search for Screening Center {% endblock FormSearchPlaceHolder %}
{% block ScreeningCentersActiveNavItem %}active{% endblock ScreeningCentersActiveNavItem %}

{% block title %}Screening Centers List{% endblock title %}

{% block content %}
  {% if user.role == 'Admin' %}
  <!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">List of Screening Centers</h1>
  <a href="{%url 'screeningcenter_new' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add Screening Center</a>

</div>
  {% endif %}

<!-- DataTales -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Screening Centers</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Phone</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Phone</th>
                  <th>Actions</th>
                </tr>
              </tfoot>
                <tbody>     
        {% for screeningcenter in screeningcenter_list %}
                <tr>
                  <td><a href="{% url 'screeningcenter_detail' screeningcenter.pk %}">{{ screeningcenter.name }}</a></td>
                  <td>{{ screeningcenter.address }}</td>
                  <td>{{ screeningcenter.phone }}</td>
                  <td>
                    <a type="button" href="{% url 'screeningcenter_detail' screeningcenter.pk %}" class="btn btn-sm btn-primary"><i class="far fa-eye"></i></a>
                    <a type="button" href="{% url 'screeningcenter_edit' screeningcenter.pk %}" class="btn btn-sm btn-success"><i class="fas fa-edit"></i></a>
                    {% if user.role == 'Admin' %}
                      <a type="button" href="{% url 'screeningcenter_delete' screeningcenter.pk %}" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                    {% endif %}
                  </td>
                </tr>
          {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
  
 <!-- qrModal Modal-->
      <div class="modal fade" id="qrModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
          <center>
            <img src="/{{screeningcenter.qr_code.url}}"></img>            <br/>        
            <button class="btn btn-secondary mb-4" type="button" data-dismiss="modal">OK</button>
          </center>
          </div>
        </div>
      </div>

{% endblock content %}