{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block FormSearchAction %} '/screeningcenters/' {% endblock FormSearchAction %}
{% block FormSearchPlaceHolder %} Search for Screening Center {% endblock FormSearchPlaceHolder %}

{% block title %}Update Screening Center{% endblock title %}

{% block content %}
<div class="col-xl-12 col-lg-12 col-md-9">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <!-- Nested Row within Card Body -->
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-1"></h1>
            <div class="mb-4">
            <h1>Update Screening Center </h1>
            <hr/>
          </div>
          </div>
         <form action="" method='post'> {%csrf_token%}
            {{form | crispy}}
            <button type="submit" class="btn btn-primary btn-user btn-block">Update</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}