{% extends 'base.html' %}
{% block FormSearchAction %} '/testingcenters/' {% endblock FormSearchAction %}
{% block FormSearchPlaceHolder %} Search for Testing Center {% endblock FormSearchPlaceHolder %}

{% block title %}Delete Testing Center{% endblock title %}

{% block content %}
    <h1>Delete testingcenter</h1>
    <form action="" method="post">{% csrf_token %}
      <p>Are you sure you want to delete "{{ testingcenter.name }}"?</p>
      <input type="submit" value="Confirm" />
    </form>
{% endblock content %}