{% extends 'base.html' %}

{% block FormSearchAction %} '/tests/' {% endblock FormSearchAction %}
{% block FormSearchPlaceHolder %} Search for Test {% endblock FormSearchPlaceHolder %}

{% block title %}Test Details{% endblock title %}

{% block content %}

 <!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Test Details </h1>
    <div>
      <a href="{% url 'test_qrcode' test.pk %}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-qrcode fa-sm text-white-50"></i> Print QR Code</a>
      <a class="btn btn-sm btn-primary" href="{% url 'test_edit' test.pk %}">Update Test</a>
 {% if user.role == 'Admin' %}
      <a class="btn btn-sm btn-danger" href="{% url 'test_delete' test.pk %}">Delete Test</a>
  {% endif %}
    </div>
</div>

<hr>
  <div class="col-md-5">
     <div class="row">
      <div class="col-md-6">
        <label><b> Patient (Civil ID) </b></label>
      </div>
      <div class="col-md-6">
        <p><a href="{% url 'patient_detail' test.patient.pk %}">{{test.patient.civil_ID}} </a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><b> Mixed ? </b></label>
      </div>
      <div class="col-md-6">
        <p>{{ test.mixed }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><b> Symptoms ? </b></label>
      </div>
      <div class="col-md-6">
        <p>{{ test.symptoms }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><b> Sample Date </b></label>
      </div>
      <div class="col-md-6">
        <p>{{test.sample_datetime}}</p>
      </div>
    </div>     
    <div class="row">
      <div class="col-md-6">
        <label><b> Result Date </b></label>
      </div>
      <div class="col-md-6">
{% if user.role == 'Admin' or user.role == 'Lab' %} 
        <p>{{test.result_datetime}}</p>
{% else %}
          Private
{% endif %}
      </div>
    </div> 
     <div class="row">
      <div class="col-md-6">
        <label><b> Result Updated by </b></label>
      </div>
      <div class="col-md-6">
{% if user.role == 'Admin' or user.role == 'Lab' %} 
        <p>{{test.lab_doctor.first_name}} {{test.lab_doctor.last_name}} </p>
{% else %}
          Private
{% endif %}
      </div>
    </div>              
    <div class="row">
      <div class="col-md-6">
        <label><b> Test Result </b></label>
      </div>
      <div class="col-md-6">
{% if user.role == 'Admin' or user.role == 'Lab' %} 
        <p>{{test.test_result}}</p>
{% else %}
          Private
{% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><b> Test Notes </b></label>
      </div>
      <div class="col-md-6">
{% if user.role == 'Admin' or user.role == 'Lab' %} 
        <p>{{test.test_notes}}</p>
{% else %}
          Private
{% endif %}
      </div>
    </div>
      <div class="row">
      <div class="col-md-6">
        <label><b> Testing Center </b></label>
      </div>
      <div class="col-md-6">
{% if user.role == 'Admin' or user.role == 'Lab' %} 
        <p>{{test.testing_center.name}}</p>
{% else %}
          Private
{% endif %}
      </div>
    </div>
        <div class="row">
      <div class="col-md-6">
        <label><b> Screening Center </b></label>
      </div>
      <div class="col-md-6">
        <p>{{test.screening_center.name}}</p>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-6">
        <label><b> Created By </b></label>
      </div>
      <div class="col-md-6">
        <p>{{test.author.first_name}} {{test.author.last_name}}  </p>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-6">
        <label><b> Test Last Updated </b></label>
      </div>
      <div class="col-md-6">
        <p>{{test.updated_datetime}} </p>
      </div>
    </div>
     
  </div>

{% endblock content %}
