{% extends 'base.html' %}

{% block title %}Test List{% endblock title %}

{% block content %}
{% if user.is_authenticated %}


  <h3>List of Tests</h3>
  {% for test in test_list %}
  <div class="test-entry">
    <a href="{% url 'test_detail' test.pk %}">Test Details {{test.pk}}</a><br/>
    <b>Patient:<a href="{% url 'patient_detail' test.patient.pk %}"> {{test.patient.firstname}} {{test.patient.lastname}} ({{test.patient.civilSerial}})</a></b> </br>
    <b>Time: </b> {{ test.datatime }}<br/>
    <b>Test Notes: </b>{{ test.testNotes }} <br/>
    <b>Test Result: </b>{{ test.testResult }}<br/>
  </div>
  <br/> 
  {% endfor %}
  

{% else %}
{% endif %}



{% endblock content %}