{% extends 'base.html' %}

{% block FormSearchAction %} '/tests/' {% endblock FormSearchAction %}
{% block FormSearchPlaceHolder %} Search for Test {% endblock FormSearchPlaceHolder %}

{% block title %}Test Details{% endblock title %}

{% block content %}

 <!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Test Details </h1>
 {% if user.role == 'Admin' %}
    <div>
      <a href="{% url 'tests_qrcode' test.pk %}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-qrcode fa-sm text-white-50"></i> Print QR Code</a>

      <a class="btn btn-sm btn-primary" href="{% url 'test_edit' test.pk %}">Update Test</a>
      <a class="btn btn-sm btn-danger" href="{% url 'test_delete' test.pk %}">Delete Test</a>
    </div>
  {% endif %}
</div>

<hr>
  <div class="col-md-5">
     <div class="row">
      <div class="col-md-6">
        <label><b> Patient (Civil ID) </b></label>
      </div>
      <div class="col-md-6">
        <p><a href="{% url 'patient_detail' test.patient.pk %}">{{test.patient.civil_ID}} </a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><b> Mixed ? </b></label>
      </div>
      <div class="col-md-6">
        <p>{{ test.mixed }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><b> Symptoms ? </b></label>
      </div>
      <div class="col-md-6">
        <p>{{ test.symptoms }}</p>
      </div>
    </div>     
                
    <div class="row">
      <div class="col-md-6">
        <label><b> Test Result </b></label>
      </div>
      <div class="col-md-6">
        <p>{{test.test_result}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><b> Test Notes </b></label>
      </div>
      <div class="col-md-6">
        <p>{{test.test_notes}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><b> Created By </b></label>
      </div>
      <div class="col-md-6">
        <p>{{test.author.first_name}} {{test.author.last_name}} ({{test.author.username}}/{{test.author.role}}) </p>
      </div>
    </div>   
    <div class="row">
      <div class="col-md-6">
        <label><b> Test Last Updated </b></label>
      </div>
      <div class="col-md-6">
        <p>{{test.updated_datetime}} </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><b> Sampling Date </b></label>
      </div>
      <div class="col-md-6">
        <p>{{test.sampling_datetime}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><b> Result Date </b></label>
      </div>
      <div class="col-md-6">
        <p>{{test.result_datetime}}</p>
      </div>
    </div>
     <div class="row">
      <div class="col-md-6">
        <label>  <b> QR Code </b></label>
      </div>
      <div class="col-md-6">
        <p><a href="{% url 'tests_qrcode' test.pk %}"> Print QR </a></p>
      </div>
    </div>
  </div>

{% endblock content %}
